/* VARIABLES */
:root {
    --border-color: red;
}

/* STYLING */
* {
    margin: 0;
    padding: 0; 
}




h1 {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', bold;
    font-size: 50px;
}

h3 {
    text-align: center;
}

#container { 
    text-align: center;
    background-color: rgba(211, 211, 211, 0.3);
    display: block;
    margin: auto;
    width: 500px;
    height: 300px;
    margin-top: 25px; 
}

.row1,
.row2,
.row3 {
    height: 33.3333%;
    display: flex;
    justify-content: center
}

.cell {
    flex-grow: 1; 
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* BORDERS */
.row1, .row2 {
    border-bottom: 1px solid var(--border-color);
}

.class-r11, 
.class-r12,
.class-r21,
.class-r22,
.class-r31 ,
.class-r32 {
    border-right: 1px solid var(--border-color);
}

/* EVENTS STYLES */
.cell-cross {
    background: rgba(211, 211, 211, 0.3) url('../img/cross.jpg') no-repeat;
    background-position: center center;
}

.cell-nought {
    background: rgba(211, 211, 211, 0.3) url('../img/nought.png') no-repeat;
    background-position: center center;
}


